@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Crear Herramienta</h1>

<form asp-action="CrearHerramienta" method="post">

    <div class="mb-3">
        <label for="Descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" required />
    </div>

    <div class="mb-3">
        <label for="Precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="Precio" name="Precio" required />
    </div>

    <div class="mb-3">
        <label for="Imagen" class="form-label">Imagen</label>
        <input type="text" class="form-control" id="Imagen" name="Imagen" required />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>

</form>

